
:root {
    --tbMargins: 2%;
    --bgColor: #dde1e7;
    --bgColor2: #ffffff;
    --shadowLight: #ffffff;
    --shadowDark: #000000;
}

body {
    background: linear-gradient(45deg, var(--bgColor) 0%, var(--bgColor2) 100%);
}

html,
body,
.blahaj {
    margin: 0;
    height: 100%;
    width: 100%;
}

.blahaj {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: var(--tbMargins);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    gap: 20%;
    align-content: space-around;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: var(--tbMargins);
}

.ustawa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 20px;
    width: 70%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: -5px -5px 13px var(--shadowLight), 5px 5px 13px var(--shadowDark);
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;

}

.title, .text, .element, .special, .button {
    font-family: "Comic Sans MS", "Comic Sans","Chalkboard", "ChalkboardSE-Regular", sans-serif;
}

.special {
    font-size: larger;
    font-weight: bold;
}

.text {
    font-size: large;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
}

button.round {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    border-style: none;
    box-shadow: -2px -2px 13px var(--shadowLight), 2px 2px 13px var(--shadowDark);
    font-size: large;
    padding: 100%;
    transition: background 0.5s linear;
    -moz-transition: background 0.5s linear; /* Firefox */
    -webkit-transition: background 0.5s linear; /*safari and chrome */
}

button.round:hover {
    background: rgba(255, 255, 255, 0.6);
    transition: background .3s linear;
    -moz-transition: background .3s linear; /* Firefox */
    -webkit-transition: background .3s linear; /*safari and chrome */

} 
button.round:active {
    background: rgb(255, 255, 255);
    transition: background .3s linear;
    -moz-transition: background .3s linear; /* Firefox */
    -webkit-transition: background .3s linear; /*safari and chrome */
    box-shadow: -0px -0px 5px var(--shadowLight), 0px 0px 5px var(--shadowDark);
} 

.fa-solid.fa-arrows-rotate {
    width: 20px;
    height: 20px;
}

.element.end {
    text-align: end;
}

.element.start {
    text-align: start;
}